h1{
    text-align: center;
}

body{
    background-color: aliceblue;
}

.form-control{
    width: 100%;
    display: flex;
    justify-content: center;
}


form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}
label{
    margin-top: 1rem;
    margin-bottom: .2rem;
    display: inline-block;
}
input,textarea{
    padding: .5rem .8rem;
}

input[type="file"]{
    background-color: white;
    border: .1rem solid black;
}

input[type="submit"]{
    margin-top: 1.5rem;
}

.form-control-2{
    margin-top: 2rem;
  
}

.form-control-2 form{
    background-color: white;
    padding: 2rem;
}

input[type="submit"]{
    background-color: rgb(26, 160, 223);
    border: none;
    border: .1rem solid blue;
    color: white;
}

.error,span{
    color: red;
 

}
span{
    text-align: center;
    margin-top: .1rem;
}