*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 2rem;
    text-align: center;

    margin-left: 2rem;
}
body{
    background-color: rgb(103, 112, 121);
    line-height: 1.5;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
}

.item{
    width: 30%;
    background-color: black;
    margin: 1rem 1rem;
    padding: .24rem;
    border-radius: 1rem;
 
}
span{
    width: fit-content;
    background-color: burlywood;
    font-weight: bold;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .3rem .7rem;
    border-radius: .2rem;
  
  
   
}

.cart{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    background-color: black;
    padding: .5rem;


}
img{
    width: 50%;
    margin-top: 1rem;
}

figure{
    width:5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}
strong{
    margin-left: 1rem;
}
.item-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

hr{
    width: 6rem;
}
small{
    color: white;

    margin-top: 1rem;
}

button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .3rem .7rem;
    font-weight: bold;
}
strong{
    background-color: white;
    color: black;
    padding: .3rem .7rem;
    border-radius: .2rem;
    margin-top: 1rem;

}

.all-size{
    display: flex;
    justify-content: center;
}
.size{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.top{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.order{
    text-align: center;
    margin-top: 2em;
}

label{
        font-weight: bold;
        margin-right: 1rem;
}

.active{
    background-color: black;
    color: white;
}